@page "/studentadd"
@using System.Net.Http.Json

<h3>Login</h3>

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-danger">@message</div>
}

<form>
    <div class="form-group">
        <label for="username">Name</label>
        <input type="text" class="form-control" id="username" @bind="StudentRequest.Name" />
    </div>
    <div class="form-group">
        <label for="username">Student Number</label>
        <input type="text" class="form-control" id="surname" @bind="StudentRequest.Surname" />
    </div>

    <div class="form-group">
        <label for="username">Email</label>
        <input type="text" class="form-control" id="email" @bind="StudentRequest.Email" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" @bind="StudentRequest.Password" />
    </div>

    <br />
    <button type="button" class="btn btn-primary" @onclick="Send">Ekle</button>
</form>

@code {

    private string? message;
    private Student StudentRequest = new Student();


    private async Task Send()
    {
        StudentRequest.role = 1;
        StudentRequest.active = true;
        try
        {
            // Make an API call to authenticate the user
            var httpClient = new HttpClient();
            var response = await httpClient.PostAsJsonAsync("https://localhost:7014/api/User/add", StudentRequest);

            if (response.IsSuccessStatusCode)
            {
                // Handle successful authentication
                // var authenticationResult = await response.Content.ReadFromJsonAsync<AuthenticationResult>();
                // You may want to store the authentication token or user information here.
                // Redirect to a different page or perform other actions upon successful login.
                message = "Student added!";
            }
            else
            {
                // Handle failed authentication
                message = "Type dismatch!";
            }
        }
        catch (Exception ex)
        {
            // Handle exceptions or errors
            message = "An error occurred: " + ex.Message;
        }
    }


}
